<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mastermind.executive.control</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_BINARY__</string>
    <string>-I</string>
    <string>-S</string>
    <string>-B</string>
    <string>__CONTROL_WRAPPER__</string>
    <string>--config</string>
    <string>__CONTROL_CONFIG__</string>
    <string>--sentinel-file</string>
    <string>__CONTROL_SENTINEL_FILE__</string>
    <string>--attestation</string>
    <string>__CONTROL_ENV_ATTESTATION__</string>
    <string>--release-root</string>
    <string>__RELEASE_ROOT__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__RELEASE_ROOT__</string>
  <key>UserName</key>
  <string>__CONTROL_USER__</string>
  <key>GroupName</key>
  <string>__CONTROL_GROUP__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ExitTimeOut</key>
  <integer>15</integer>
  <key>AbandonProcessGroup</key>
  <false/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>Umask</key>
  <integer>63</integer>
  <key>HardResourceLimits</key>
  <dict>
    <key>Core</key>
    <integer>0</integer>
    <key>FileSize</key>
    <integer>67108864</integer>
  </dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>__CONTROL_HOME__</string>
    <key>LANG</key>
    <string>C.UTF-8</string>
    <key>LC_ALL</key>
    <string>C.UTF-8</string>
    <key>NO_COLOR</key>
    <string>1</string>
    <key>PATH</key>
    <string>/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
    <key>TZ</key>
    <string>UTC</string>
  </dict>
  <key>Sockets</key>
  <dict>
    <key>Operator</key>
    <dict>
      <key>SockPathName</key>
      <string>__CONTROL_SOCKET__</string>
      <key>SockType</key>
      <string>stream</string>
      <key>SockPassive</key>
      <true/>
      <key>SockPathOwner</key>
      <integer>450</integer>
      <key>SockPathGroup</key>
      <integer>453</integer>
      <key>SockPathMode</key>
      <integer>432</integer>
    </dict>
    <key>CeoIngress</key>
    <dict>
      <key>SockPathName</key>
      <string>__CEO_INGRESS_SOCKET__</string>
      <key>SockType</key>
      <string>stream</string>
      <key>SockPassive</key>
      <true/>
      <key>SockPathOwner</key>
      <integer>450</integer>
      <key>SockPathGroup</key>
      <integer>452</integer>
      <key>SockPathMode</key>
      <integer>432</integer>
    </dict>
    <key>DialogueObservation</key>
    <dict>
      <key>SockPathName</key>
      <string>__DIALOGUE_OBSERVATION_SOCKET__</string>
      <key>SockType</key>
      <string>stream</string>
      <key>SockPassive</key>
      <true/>
      <key>SockPathOwner</key>
      <integer>450</integer>
      <key>SockPathGroup</key>
      <integer>457</integer>
      <key>SockPathMode</key>
      <integer>432</integer>
    </dict>
  </dict>
  <key>StandardOutPath</key>
  <string>__CONTROL_STDOUT__</string>
  <key>StandardErrorPath</key>
  <string>__CONTROL_STDERR__</string>
</dict>
</plist>
