<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mastermind.desktop-commander.remote.__USER__</string>

  <key>UserName</key>
  <string>__USER__</string>
  <key>GroupName</key>
  <string>staff</string>

  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>15</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>Umask</key>
  <integer>63</integer>

  <key>WorkingDirectory</key>
  <string>/Users/__USER__</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/__USER__/.local/share/desktop-commander-remote-__USER__/run-remote.zsh</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key><string>/Users/__USER__</string>
    <key>USER</key><string>__USER__</string>
    <key>LOGNAME</key><string>__USER__</string>
    <key>SHELL</key><string>/bin/zsh</string>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>LANG</key><string>en_US.UTF-8</string>
    <key>TMPDIR</key><string>/tmp</string>
  </dict>

  <key>StandardOutPath</key>
  <string>/dev/null</string>
  <key>StandardErrorPath</key>
  <string>/dev/null</string>
</dict>
</plist>
