node_modules/
dist/
.cargo-target/
tsconfig.tsbuildinfo
src-tauri/icons/*.png
src-tauri/icons/*.ico
src-tauri/icons/Square*Logo.png
src-tauri/icons/StoreLogo.png
src-tauri/icons/android/
src-tauri/icons/ios/
